In [1]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

import getpass  # To get the password without showing the input

In [3]:
#Enter password for SQL database connection

password = getpass.getpass()

········

In [4]:
# Establish connection

connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [10]:
def rentals_month(engine, month, year):
    """
    This function takes the rental data from Sakila and returns a Pandas DataFrame
  
    -Output:  A pandas DataFrame containing the rental data for the specified month and year.
    """
    # create the SQL query
    query = "SELECT * FROM rental WHERE MONTH(rental_date) = "+str(month)+" AND YEAR(rental_date) = "+str(year)
    
    # execute the query and store the results in a DataFrame
    data = pd.read_sql_query(query, engine)
    return data

In [15]:
# rental data for May 2005 
df_may = rentals_month(engine, 5, 2005)

result_df = rental_count_month(df_may, 5, 2005)

# Displaying results
result_df.head()

   customer_id  rentals_05_2005
0            1                2
1            2                1
2            3                2
3            5                3
4            6                3

In [25]:
def compare_rentals(df1, df2, month1, year1, month2, year2):
    """
     2 DFs as input, merges with Customer_ID and returns the difference.
    
    
    Input:
    - df1, df2: Input DataFrames containing rental counts for each customer_id.
    - month1, year1: Month and year corresponding to df1's data.
    - month2, year2: Month and year corresponding to df2's data.

    Ouput:
    - A merged DataFrame with an additional 'difference' column.
    """
    
    # Merghe on customer_id'
    merged_df = pd.merge(df1, df2, on='customer_id', how='outer', suffixes=(f'_{month1:02}_{year1}', f'_{month2:02}_{year2}'))
    
      
    # Caclculate difference
    
    col1 = f'rentals_{month1:02}_{year1}'
    col2 = f'rentals_{month2:02}_{year2}'
    merged_df['difference'] = merged_df[col1] - merged_df[col2]
    
    return merged_df

In [28]:
# GHets the data for may and june
df_may = rentals_month(engine, 5, 2005)
df_june = rentals_month(engine, 6, 2005)

# Counts rentals
rentals_may = rental_count_month(df_may, 5, 2005)
rentals_june = rental_count_month(df_june, 6, 2005)

# Compare rentals between May and June
comparison = compare_rentals(rentals_may, rentals_june, 5, 2005, 6, 2005)
print(comparison.head())

   customer_id  rentals_05_2005  rentals_06_2005  difference
0            1              2.0              7.0        -5.0
1            2              1.0              1.0         0.0
2            3              2.0              4.0        -2.0
3            5              3.0              5.0        -2.0
4            6              3.0              4.0        -1.0